* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(255, 249, 242);
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

header {
    display: inline-flex;
    border: black solid 1px;
    justify-content: end;
}

main {
    display: flex;
    grid-area: span 10 / span 10;
    padding: 1rem;
}

header {
    display: inline-flex;
    border: black solid 1px;
    justify-content: end;
}

.banner {
    align-self: center;
    width: 100%;
}

h1 {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 10rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
}

.fade-1 {
    animation: fade-1 1s ease-in;
}

.fade-2 {
    animation: fade-2 2.5s ease-in;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    animation: fade-3 3.5s ease-in-out;
}

li {
    margin: 2rem;
    padding: .5rem 1rem;
    border: black solid .2rem;
    box-shadow: .2rem .2rem black;
    position: relative;
}

li:hover {
    transition: .2s all;
    transform: scale(115%);
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

*:hover {
    cursor: default;
}

footer {
    grid-area: span 1 / span 10;
    padding: 1rem;
}

/* animation */
/* 
@keyframes fade-1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fade-2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fade-3 {
    0% {
        opacity: 0;
        transform: translatey(100%)
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translatey(0%)
    }

} */